# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo
dist/
build/

# Logs
logs/
*.log
*.log.*

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
bower_components/

# Public upload directories
public/uploads/

# Debug files
*.tgz
*.swp

# npm package lock and yarn lock
package-lock.json
yarn.lock

# React build directory
/build
